@tailwind base;
@tailwind components;
@tailwind utilities;
body > #root > div {
  height: 100vh;
}
#app {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 3%,
    rgba(0, 238, 255, 1) 62%,
    rgba(0, 255, 255, 1) 91%
  );
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
